.login_wrapper{
    display: flex;
    flex-direction: column;
    max-width: 65%;
    box-shadow: 2px 2px 2px 3px black;
    margin-left: 40px;
    color:white;

}
.members{
    margin-right: 100px;
    margin-bottom: 40px;
    color: white;

}