.sign-up-form{
    display: flex;
    flex-direction: column;
    max-width: 65%;
    box-shadow: 2px 2px 2px 3px black;
    color:white;
}

.no_account{
    margin-right: 175px;
    margin-bottom: 40px;
    color:white;

}