.login-signup-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:10%;
}

.components{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 15px;
    align-items: center;
    margin-top: 50px;
    margin-left:80px;

}

.title{
    color:white;
}